.ab-section {
  text-align: center;
}

.content-title {
  display: inline-block;
  font-size: 40px;
  color: #212121;
  font-weight: 500;
  padding-bottom: 15px;
  position: relative;
}

.content-title::after {
  content: '';
  width: 100px;
  height: 2px;
  background-color: #FA1818;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}