.mg-t-15 {
  margin-top: 15px;
}

.top-product {
  padding: 80px 0;
}

.top-product-container {
  width: 1140px;
  margin: 0 auto;
  background: rgb(245, 245, 245);
  padding: 0 10px
}

.top-content {
  padding-top: 45px;
  display: flex;
}

.menu {
  font-size: 15px;
  font-weight: 400;
  width: 25%;
}

.menu li {
  margin-bottom: 20px;
}

.menu li a {
  color: #212121;
  transition: color .5s ease-in;
}

.menu li a:hover {
  color: #84C639;
}

.menu li i {
  color: #84C639;
  padding-right: 15px;
}

.right-product {
  width: 75%;
}

.top-img {
  display: flex;
}

.advertisement-img {
  width: 33.33333%;
  padding-right: 15px;
  height: 368px;
}

.voucher-ct {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.advertisement-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.voucher-text {
  font-size: 19px;
  font-weight: 500;
  padding-top: 15px;
}

.voucher-text span {
  color: #FA1818;
  animation-name: whitered;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes whitered {
  0% {color: #FA1818;}
  25% {color: #fff;}
  50% {color: #FA1818;}
  75% {color: #fff;}
  100% {color: #FA1818;}
}

.voucher-img {
  background: url("./images/img-sp.png") 1px -116px;
  width: 70px;
  height: 50px;
}

.rlt-voucher {
  position: relative;
}

.ab-btn-voucher {
  position: absolute;
  top: 20px;
  left: 40%;
  padding: 10px 25px;
  color: #fff;
  background: #84C639;
}

.ab-btn-voucher:hover {
  background-color: #FA1818;
}

.ab-voucher {
  position: absolute;
  top: 25%;
  left: 10%;
  background-color: #FA1818;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  padding-top: 28px;
  border-radius: 50%;
}